body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.rating-card {
  width: 400px;
  border: 2px solid #cfd8de;
  overflow: visible;
  box-shadow: 0 0 10px rgba(1, 0, 1, 1);
}

.top-border {
  height: 50px;
  background-color: #f8c400;
  display: flex;

  align-items: center;
}

.img-container {
  margin-top: -25px;
}

img {
  max-width: 100%;
  max-height: 100%;
  margin-top: -5cap;
  margin-left: 15cap;
}

.content {
  padding: 10px;
}

.title {
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
  font-style: italic;
}

.stars {
  text-align: center;
  color: #f8c400;
  font-size: 24px;
}
